# pylint configuration
.pylintrc

# VS code files
ESIBD_Explorer.code-workspace
.vscode/

# uild folder
build/

# dist folder
dist/

# for testing of plugins from external developers
external_plugins/

# Sphinx documentation
docs/_build/
docs/_static/

# pyinstaller configuration
*.spec
pyinstaller_hooks\__pycache__\
pyinstaller_dist
pyinstaller_build

# packed environment for offline installation
esibd.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/

# todo list
todo.txt

# PyPI
*.egg-info/
# .pypirc # keep in local user folder

# other
start.py

# large media files
docs/pages/esibd.pptx
esibd/media/icon.pptx
