sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinx_copybutton
sphinxcontrib-video
readthedocs-sphinx-search
numpy
biopython
scipy
asteval
configparser
keyboard
pyperclip
python-socketio
pyserial
Send2Trash
h5py
configobj